.error-indicator {
  margin: 0 auto;
}
.error-indicator img {
  margin: 0 auto;
  display: block;
}
.error-indicator span {
  color: orange;
  display: block;
  text-align: center;
}
.error-indicator .boom {
  font-size: 1.5rem;
}
