.cards-list__desk-title {
  padding: 30px 10px;
  margin: 20px;
  background-color: 94e49b;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  font-size: 1.2rem;
  color: white;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
}
