body {
  background-color: #eee;
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}

.container {
  margin: 0 10px;
  width: auto;
}

@media (min-width: 640px) {
  .container {
    margin: 0 auto;
    width: 600px;
  }
}

@media (min-width: 760px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 920px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.app {
  margin-top: 30px;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 100px;
  height: 100px;
}
