.new-desk-item {
  font-size: 1.2rem;
  color: white;
  background-color: #94e49b;
  box-sizing: content-box;
}
.new-desk-item.active:hover {
  transform: none;
}
.new-desk-item__description {
  display: block;
  margin: 0 -10px;
}
.new-desk-item__controls {
  margin-top: 10px;
}
